In [1]:
import pandas as pd
pd.set_option("display.max_columns", 500)
import geopandas as gpd
from app import leer_datos

df, colegios = leer_datos()

2023-11-30 17:22:51.837 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2023-11-30 17:22:52.121
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/danielsf/anaconda3/envs/servel/lib/python3.11/site-packages/ipykernel_launcher.py [ARGUMENTS]
2023-11-30 17:22:52.140 No runtime found, using MemoryCacheStorageManager

In [2]:
df.head(1)

,Nro Región,Región,Circunscripción senatorial,Distrito,Comuna,Circunscripción electoral,Local,Mesa,Nro.Voto,Opciones,Selección,Votos
0,1,DE TARAPACA,CIRCUNSCRIPCION SENATORIAL 2,DISTRITO 2,ALTO HOSPICIO,ALTO HOSPICIO,ANEXO DE COLEGIO SAN ANTONIO DE MATILLA,78,1.0,APRUEBO,None,87

In [3]:
df.Local.nunique()

2755

In [6]:
colegios.sample(4)

,AGNO,RBD,DGV_RBD,NOM_RBD,TIPO_SOST,COD_REG_RB,NOM_REG_RB,COD_PRO_RB,COD_COM_RB,NOM_COM_RB,COD_DEPROV,NOM_DEPROV,TIPO_DEPEN,DIRECCION,NUMERO,REFERENCIA,LATITUD,LONGITUD,MAT_PARV,MAT_BAS_RE,MAT_BAS_AD,MAT_ESP,MAT_MHC_RE,MAT_MHC_AD,MAT_MTP_RE,MAT_MTP_AD,MAT_TOTAL,MAT_HOM_TO,MAT_MUJ_TO,MAT_SI_TOT,CUR_SIM_TO,CUR_COMB_T,geometry
3881,2021.0,3835.0,0.0,ESCUELA BRITANICA GUILLERMINA DRAKE WOOD,1.0,16.0,NUBLE,163.0,16302.0,COIHUECO,81.0,ÑUBLE,1.0,BALMACEDA,1419.0,A 50 MTS.AL NORTE DE LA PLAZA DE ARMAS DE COIH...,-36.627789,-71.832497,55.0,416.0,0.0,0.0,0.0,0.0,0.0,0.0,471.0,238.0,233.0,0.0,19.0,0.0,POINT (-71.83250 -36.62779)
8990,2021.0,1520.0,2.0,LICEO BICENTENARIO MARITIMO DE VALPARAISO,1.0,5.0,VALPO,51.0,5101.0,VALPARAÍSO,53.0,VALPARAÍSO,5.0,AVENIDA ERRAZURIZ,1490.0,EL ESTABLECIMIENTO ESTA UBICADO ENTRE CALLE BL...,-33.043720,-71.620842,0.0,67.0,0.0,0.0,468.0,0.0,0.0,0.0,535.0,245.0,290.0,0.0,19.0,0.0,POINT (-71.62084 -33.04372)
4461,2021.0,16631.0,6.0,ESCUELA DE LENGUAJE TORREBLANCA,1.0,7.0,MAULE,74.0,7406.0,SAN JAVIER,73.0,LINARES,2.0,TORREBLANCA,2364.0,None,-35.592420,-71.729095,0.0,0.0,0.0,58.0,0.0,0.0,0.0,0.0,58.0,37.0,21.0,0.0,6.0,0.0,POINT (-71.72910 -35.59242)
10677,2021.0,13123.0,7.0,JARDÍN INFANTIL PASITOS DE NIÑOS,1.0,3.0,ATCMA,32.0,3202.0,DIEGO DE ALMAGRO,31.0,COPIAPÓ,2.0,KELLEY,2317.0,AV. O`HIGGINS,-26.390240,-70.047530,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.0,19.0,22.0,0.0,2.0,0.0,POINT (-70.04753 -26.39024)

In [14]:
colegios.local.nunique()

10510

In [10]:
#Dejar en minuscula los nombres de los colegios en ambas bases de datos.
df.columns = [col.lower() for col in df.columns]
df["local"] = df["local"].apply(lambda x: x.lower())

def minuscula(x):
    return x.lower()

colegios.columns = [col.lower() for col in colegios.columns]
colegios["local"] = colegios["nom_rbd"].apply(minuscula)

In [18]:
df.columns

Index(['nro región', 'región', 'circunscripción senatorial', 'distrito',
       'comuna', 'circunscripción electoral', 'local', 'mesa', 'nro.voto',
       'opciones', 'selección', 'votos'],
      dtype='object')

In [23]:
df.head(3)
df_final = df.pivot_table(index= ['nro región', 'región', 'distrito',
       'comuna','local'], 
       columns="opciones", 
       values="votos",
       aggfunc="sum").reset_index()

In [26]:
dataf = df_final.merge(colegios[['local', 'geometry']], on="local", how="left")

In [30]:
dataf.dropna(subset="geometry").shape[0]/df.local.nunique()

0.8526315789473684

In [31]:
df_final.local.value_counts()

local
gimnasio municipal                     13
escuela gabriela mistral                7
escuela arturo prat chacon              6
escuela españa                          6
liceo gabriela mistral                  5
                                       ..
escuela genaro rios campos              1
escuela jorge rojas miranda             1
escuela juan jose latorre benavente     1
escuela octavio salinas cariaga         1
liceo polivalente san gregorio          1
Name: count, Length: 2755, dtype: int64